[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

aiohttp = "==2.3.7"
rq = "==0.10.0"
aiodns = "==1.1.1"
cchardet = "==2.1.1"
pyyaml = "==3.12"


[dev-packages]

mock = "*"
nose = "*"
